.button-buy {
    background-color: #05c941;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 10px;
}

.button-buy:hover {
    background-color: #55be5a;
}

