.movie-carousel {
    /* Estilos del contenedor del carrusel */
    margin-top: 20px;
}

.carousel {
    /* Estilos del carrusel */
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* Desplazamiento suave en iOS */
}

.carousel-item {
    /* Estilos de los elementos del carrusel */
    flex: 0 0 auto;
    margin-right: 10px; /* Espacio entre los elementos */
    scroll-snap-align: start;
}

.carousel-item:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

/* Estilos para la navegación del carrusel, como botones de anterior/siguiente */
.carousel-controls {
    /* Estilos para los controles del carrusel */
}

.carousel-controls button {
    /* Estilos para los botones de control */
}